<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的监控</title>
    <script src="/public/timeInstance.js"></script>
    <script src="/public/jquery-3.3.1.min.js"></script>
    <script src="/public/Table.js"></script>
</head>

<body onload="startTime()">
    <h1 style="text-align:center">培养箱温/湿度监控</h1>
    <div style="text-align:right" id="txt"></div>
    <div id="table" style="margin:0 auto;text-align:center"></div>
    <script>
        setInterval(ajax_Proc, 5000);
        $(document).ready(ajax_Proc);
    </script>
</body>
</html>